RewriteEngine On

RewriteBase /gledger/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [QSA,L]
#
#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^localhost/gledger$ [NC,OR]
#RewriteCond %{HTTP_HOST} ^localhost/gledger$
#RewriteCond %{REQUEST_URI} !/
#RewriteRule (.*) //$1 [L]
